*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  font-family: "Open Sans", sans-serif;
  font-size: 1.5rem;
  background-image:url('/images/background2.jpeg');
  background-size: 992px;
  background-attachment: fixed;
}
#root{
  height: 100%;
  width: 100%;
}
@media only screen and (max-width: 448px) {
  body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   font-family: "Open Sans", sans-serif;
  font-size: 1.5rem;
  background-image:url('/images/background2.jpeg');
  background-attachment: fixed; 
  background-size:cover;
  }
  @media only screen and (max-width:778px) {
  body{
    display: flex;
    justify-content: center;
    align-items: center;
   font-family: "Open Sans", sans-serif;
  font-size: 1.5rem;
  background-image:url('/images/background2.jpeg');
  background-attachment: fixed; 
  background-size:cover;
  }
  @media only screen and (max-width:992px) {
  body{
    display: flex;
    justify-content: center;
    align-items: center;
   font-family: "Open Sans", sans-serif;
  font-size: 1.5rem;
  background-image:url('/images/background2.jpeg');
  background-attachment: fixed; 
  background-size:cover;
  }
  @media only screen and (max-width:1475px) {
  body{
    display: flex;
    justify-content: center;
    align-items: center;
   font-family: "Open Sans", sans-serif;
  font-size: 1.5rem;
  background-image:url('/images/background2.jpeg');
  background-attachment: fixed; 
  background-size:cover;
  }