.navbar-header{
  position: sticky;
  top: 0;
 display: flex;
 justify-content: space-between;
background: #000;
color: #fff;
overflow:scroll;
}
nav ul{
 display: flex; 
 justify-content: flex-start;
 align-items: center;
 padding: 0.2rem;
}
.brand{
  display: flex;
}